@font-face {
    font-family: "raleway-regular";
    src: url('../assets/fonts/Raleway-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: "raleway-bold";
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
    font-display: swap;
}